<tr data-id="<%= cid %>">
	<td class="email"><%= attributes.email %></td>
	<td class="namef"><%= attributes.namef %></td>
	<td class="namel"><%= attributes.namel %></td>
	<td class="nameu"><%= attributes.namel %></td>
	<td class="gold"><%= attributes.gold?'true':'false' %></td>
	<td class="delete"><a class="btn btn-default deleteUser"><i class="glyphicon glyphicon-remove"></i></a></td>
</tr>